@font-face {
    -fx-font-family: 'Inter Medium';
    src: url('../fonts/Inter/static/Inter-Medium.ttf');
}

#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #3C4EEF;
    -fx-shape: "M 0 0 L 1 0 L 1 0.5 L 0 0.5 Z"; /* Rectangle shape */
}

#copyButton:hover {
    -fx-background-color: 3C4EEF;
}

#copyButton:armed {
    -fx-background-color: 3C4EEF;
}

#helpMessage {
    -fx-text-fill: #3C4EEF; /* Updated color for the "Refer to the user..." text */
}

#helpMessageContainer {
    -fx-background-color: #B9CCFF;
}

/* Update color for the title "Help" */
.fx-root {
    -fx-text-fill: #B9CCFF;
}

#minimizeButton {
    -fx-background-color: transparent;
    -fx-text-fill: #B9CCFF;
}

#minimizeButton:hover {
    -fx-background-color: derive(#5EBBFF, 0.5%);
    -fx-text-fill: white;
}


#closeButton {
    -fx-background-color: transparent;
    -fx-text-fill: #B9CCFF;
}

#closeButton:hover {
    -fx-background-color: #FF5555; /* Red when hovered */
    -fx-text-fill: white;
}

.label {
    -fx-font-family: "Inter Medium";
    -fx-font-size: 13px;
    -fx-opacity: 1;
}

.button {
    -fx-font-family: "Inter Medium";
    -fx-font-size: 13px;
    -fx-opacity: 1;
}
