@font-face {
    -fx-font-family: 'Doppio One';
    src: url('../fonts/Doppio_One/DoppioOne-Regular.ttf');
}

@font-face {
    -fx-font-family: 'Inter Medium';
    src: url('../fonts/Inter/static/Inter-Medium.ttf');
}

#name {
    -fx-font-family: "Doppio One";
    -fx-font-size: 40px;
    -fx-text-fill: #3C4EEF;
    -fx-opacity: 1;
}

.fieldLabel {
    -fx-font-family: "Inter Medium";
    -fx-font-size: 13px;
    -fx-text-fill: #808CFF;
    -fx-opacity: 1;
}

.fieldText {
    -fx-font-family: "Inter Medium";
    -fx-font-size: 15px;
    -fx-text-fill: #3C4EEF;
    -fx-opacity: 1;
}

.text-area {
    -fx-background-insets: 0;
    text-area-background: #D8E3FF;
    -fx-border-color: #B9CCFF;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 15px;
    -fx-text-fill: #3C4EEF;
    -fx-opacity: 1;
}

.text-area .content {
    -fx-background-color: #D8E3FF;
}

.text-area:focused .content {
    -fx-background-color: #D8E3FF;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-highlight-fill: #7ecfff;
}

.tags {
    -fx-hgap: 7;
    -fx-vgap: 4;
}

.tags .label {
    -fx-font-family: "Inter Medium";
    -fx-font-size: 15px;
    -fx-opacity: 1;
    -fx-text-fill: #808CFF;
    -fx-background-color: transparent;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-border-width: 2px;
    -fx-border-color: #808CFF;
    -fx-background-radius: 2;
}

.low {
    -fx-font-family: "Inter Medium";
    -fx-font-size: 15px;
    -fx-opacity: 1;
    -fx-text-fill: #3AD8C5;
    -fx-background-color: transparent;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-border-width: 2px;
    -fx-border-color: #3AD8C5;
    -fx-background-radius: 2;
}

.medium {
    -fx-font-family: "Inter Medium";
    -fx-font-size: 15px;
    -fx-opacity: 1;
    -fx-text-fill: #f5a27e;
    -fx-background-color: transparent;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-border-width: 2px;
    -fx-border-color: #f5a27e;
    -fx-background-radius: 2;
}

.high {
    -fx-font-family: "Inter Medium";
    -fx-font-size: 15px;
    -fx-opacity: 1;
    -fx-text-fill: #f57ea9;
    -fx-background-color: transparent;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-border-width: 2px;
    -fx-border-color: #f57ea9;
    -fx-background-radius: 2;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:white;
    -fx-border-color:transparent;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0.0em;
    -fx-padding:0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0.0em;
    -fx-padding:0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #7ecfff;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #7ecfff;
    -fx-background-insets : 0;
    -fx-background-radius : 0;
}
